.card-custom {
    overflow: hidden;

}

.card-custom .card-custom-image {
    overflow: hidden;
    position: relative;
}

.card-custom .card-custom-image::after {
    content: 'Give it a Click';
    position: absolute;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%);
    width: 130px;
    padding-left: 10px;
    color: #3560AB;
    font-weight: 700;
    transition: all 0.5s ease;
}

.card-custom:hover .card-custom-image::after {
    bottom: 0px;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
    border-bottom-left-radius:  0px !important;
    border-bottom-right-radius: 0px!important;
}

.card-custom:hover img {
    transform: scale(1.1);
}